<!DOCTYPE html>
<html lang="en" ng-app="rrijnberk.sample">
<head>
    <meta charset="UTF-8">
    <title>A11Y Angular support framework - test page</title>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/a11y.module.js"></script>
    <script src="/factory/eventKey.factory.js"></script>
    <script src="/services/keyboardConfiguration.service.js"></script>
    <script src="/factory/keyhandler.factory.js"></script>
    <script src="/directives/a11y.keyboard.directive.js"></script>
    <script src="/keyboard/configs/sample.config.js"></script>
</head>
<body ng-controller="sampleController as ctrl">
    <input type="checkbox" ng-model="hideHeader"> Hide header | <button type="button" ng-click="ctrl.toggleKey()">Toggle key</button>
    <hr />
    <h1 ng-if="!hideHeader" a11y-keyboard="ctrl.key">Binding test</h1>
    <h1 a11y-keyboard="component.header.interaction.gamma">String test</h1>
</body>
</html>