<!DOCTYPE html>
<html lang="en" ng-app="rrijnberk.sample">
<head>
    <meta charset="UTF-8">
    <title>A11Y Angular support framework - test page</title>
    <script src="/node_modules/angular/angular.min.js"></script>
    <script src="/a11y.module.js"></script>
    <script src="/services/eventKey.service.js"></script>
    <script src="/services/keyboardConfiguration.service.js"></script>
    <script src="/factory/keyhandler.factory.js"></script>
    <script src="/directives/a11y.keyboard.directive.js"></script>
    <script src="/keyboard/configs/sample.config.js"></script>
</head>
<body >
    <input type="checkbox" ng-model="hideHeader"> Hide header
    <hr />
    <h1 ng-if="!hideHeader" a11y-keyboard="component.header.interaction">Hello world 3</h1>
</body>
</html>